<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Class Competition Board</a>
    <ul class="nav navbar-nav">
      <li  *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link"
           routerLink="/"
           routerLinkActive="active">
          Welcome {{user['userName']}}
        </a>
      </li>
      <li  *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link"
           routerLink="/competitionList">
          Home
        </a>
      </li>

      <li *ngIf="!isLoggedIn" class="nav-item">
        <a class="nav-link"
           routerLink="/login"
           routerLinkActive="active">
          Sign in
        </a>
      </li>

      <li  *ngIf="!isLoggedIn" class="nav-item">
        <a class="nav-link"
           routerLink="/register"
           routerLinkActive="active">
          Sign up
        </a>
      </li>
      <li  *ngIf="isLoggedIn && isFaculty" class="nav-item">
        <a class="nav-link"
           routerLink="/createCompetition"
           routerLinkActive="active">
          Create Competition
        </a>
      </li>


      <li  *ngIf="isLoggedIn" class="nav-item">
        <button class="btn btn-light" (click)="onSignout()" >Logout</button>
      </li>
    </ul>
  </div>
</nav>
