<div class="container">
  <h1>Sign Up Form</h1>
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <div class="form-group">
      <label for="email">email</label>
      <input type="text" class="form-control" id="email"
             required [(ngModel)]="model.email" name="email">
    </div>

    <div class="form-group">
      <label for="username">username</label>
      <input type="text" class="form-control" id="username"
        required [(ngModel)]="model.username" name="username">
    </div>

    <div class="form-group">
      <label for="password">password</label>
      <input type="text" class="form-control" id="password"
      required [(ngModel)]="model.password" name="password">
    </div>

    <div class="form-group">
      <label for="type">type</label>
      <select class="form-control" id="type" required name="type" [(ngModel)]="model.type">
        <option [value]="1" [(ngModel)]="model.type">Student</option>
        <option [value]="2" [(ngModel)]="model.type">Faculty</option></select>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>


</div>
